<br>
<ul><h1 class="my-3 text-white">CARRINHO</h1></ul>

<hr>

<div class="card shadow">

  <table class="table table-responsive">
    <thead class="text-dark">
      <tr>
        <th>Id</th>
        <th>Item</th>
        <th>Valor</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>5</td>
        <td>Microfone Condensador HyperX QuadCast S</td>
        <td>R$ 1300.00</td>
        <td>1</td>
        <td>R$ 1300.00</td>
        <td>
          <button class="btn btn-danger ml-2 neon-red zoom">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <br>

    <tfoot class="text-dark">
      <th>
        <br>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 p-2 zoom " type="search" placeholder="CUPOM" aria-label="Search">
        </form>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <div class="m-2">Total: R$1300.00</div>
      </th>
      <th>
        <button class="btn btn-success neon-green zoom ">
          <i class="fa fa-shopping-cart" aria-hidden="true"><strong> Finalizar a Compra</strong></i>
        </button>
      </th>
    </tfoot>
  </table>
</div>

<style>
  .zoom{
    overflow: hidden;
  }

  .zoom{
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: translate(10%,10%);
  }

  .zoom:hover{
    -moz-transform: scale(1.25,1.25);
    -webkit-transform: scale(1.25,1.25);
    transform: scale(1.1);
  }


  .neon-red{
    overflow: hidden;
  }
  .neon-red{
    cursor: pointer;
  }
  .neon-red:hover{
    box-shadow: 0 0 15px #ff0000;
  }


  .neon-green{
    overflow: hidden;
  }
  .neon-green{
    cursor: pointer;
  }
  .neon-green:hover{
    box-shadow: 0 0 10px #02fd38;
  }
</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
